<?xml version="1.0" encoding="UTF-8"?>
<Response>
 <Say>This demo application will repeat back what you say. Watch the console to see the media messages. Begin speaking now.</Say>
    <Connect>
        <Stream url="wss://1d32c19759ea.ngrok.io/voice"></Stream>
    </Connect>
    <Say>Here we go!</Say>
    <Pause length="40"/>
</Response>